 <p>
 <%= flash[:notice] %>
 </P>
<div class="container px-5 px-sm-0">
<div class="row">
  <div class="col-md-3">
    <%= render 'books/list', user:@user, book:@books %>
  </div>
<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= attachment_image_tag @user, :profile_image, size: "40x40", fallback: "no_image.jpg"  %>
            <br>
              <%= link_to user_path(@user.id) do %>
              <span> <%= @user.name %></span>
              <% end %>
            </br>
        </td>
        <td>
          <%= link_to book_path(@book.id) do %>
          <span><%= @book.title %></span>
          <% end %>
        </td>
        <td><%= @book.body %></td>
        <% if @user.id == current_user.id %>
        <td>
          <%= link_to 'Edit', edit_book_path(@book.id), class: "btn btn-sm btn-success" %>
        </td>
        <% end %>
        <% if @user.id == current_user.id %>
        <td>
          <%= link_to 'Destroy', book_path(@book), class: "btn btn-sm btn-danger", method: :delete %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>


