 <p>
 <%= flash[:notice] %>
 </P>
<div class="container px-5 px-sm-0">
<div class="row">
  <div class="col-md-3">
    <%= render 'books/list', user:@user, book:@book %>
  </div>
<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg"  %>
          <!--a href="/users/16907"-->
            <!--img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11….jpg"-->
            <br>
              <%= link_to user_path, class: "text-dark" do %>
              <span> <%= @user.name %></span>
              <% end %>
            </br
        </td>
        <td>
          <%= link_to book_path(@book.id) do %>
          <span><%= @book.title %></span>
          <% end %>
        </td>
        <td><%= @book.body %></td>
        <% if @user.id == current_user.id %>
        <td>
          <%= link_to 'Edit', edit_book_path(@book.id), class: "btn btn-secondary" %>
        </td>
        <% end %>
        <% if @user.id == current_user.id %>
        <td>
          <%= link_to 'Destroy', books_path, class: "btn btn-secondary" %>
        </td>
        <% end xs
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>


